	<%= yield :footer %>
	<footer>
		<p class="website">Website produced by <a href="http://www.benchmedia.co.uk">Adam Carlile</a></p>
		<p>This has been a <a href="/">Just one more</a> production</p>
		<p>Just one more is: Thomas Wood, Mike Gamble &amp; Victoria Farrand</p>
	</footer>
	</body>
</html>